body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 1;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(75, 158, 20, 0.2);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #156d12;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #133610;
}

p {
    margin-top: 20px;
    font-weight: bold;
}