body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 1;
    padding: 1;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 80px rgba(231, 72, 9, 0.1);
}

h1 {
    text-align: center;
    font-size: 50px;
}

p {
    text-align: center;
    font-size: 30px;
}

input {
    width: 96%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 25px;
}

button {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: #bd2f2f;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 27px
}

button:hover {
    background-color: #641414;
}